In [1]:
#Data-analytiikan ohjelmointikielet
#3. Datan muokkaus ja siivoamine
#Julia-esimerkit


#Ladataan tilastokeskuksen data. Haetaan data JSON-muodossa suoraan Tilastokeskuksen PXWeb-palvelun tarjoaman
#rajapinnan kautta. Asenna HTTP ja JSON -paketit ennen koodin suorittamista.

#PxWebin käyttöliittymän osoite: https://pxdata.stat.fi/PxWeb/pxweb/fi/StatFin/StatFin__aku/statfin_aku_pxt_12dz.px/




using HTTP, JSON, DataFrames

url = "https://pxdata.stat.fi/PxWeb/api/v1/fi/StatFin/aku/statfin_aku_pxt_12dz.px" #Saat urlin web-käyttöliittymästä. 

body = """
{
  "query": [
    {
      "code": "Ikä",
      "selection": {
        "filter": "item",
        "values": [
          "18-24",
          "25-34",
          "35-44",
          "45-54",
          "55-64"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

"""

response = HTTP.post(url,
    ["Content-Type" => "application/json"],  # headerit
    body
)

data = JSON.parse(String(response.body))

println(typeof(data))               # Tuloksesta huomataan, että data on sanakirja-tyyppinen
println(keys(data))                 # Tarkistetaan avaimet

Dict{String, Any}
["label", "role", "id", "value", "version", "updated", "note", "class", "dimension", "size", "extension", "source"]

In [2]:
println(data) #Tutkitaan nopealla silmäyksellä ladatun datan rakenne.

Dict{String, Any}("label" => "Aikuiskoulutukseen osallistuminen (ml. työhön tai ammattiin liittyvä, henkilöstökoulutus sekä muu kuin työhön liittyvä aikuiskoulutus) ikäluokittain muuttujina Vuosi, Ikä ja Tiedot", "role" => Dict{String, Any}("time" => Any["Vuosi"], "metric" => Any["Tiedot"]), "id" => Any["Vuosi", "Ikä", "Tiedot"], "value" => Any[204552, 43, 97831, 36, 82445, 34, 49301, 17, 416027, 55, 329104, 50, 285334, 50, 127314, 18, 481846, 57, 373050, 48, 338924, 52, 172371, 21, 291068, 48, 234914, 44, 209508, 48, 111111, 18, 132963, 25, 57283, 27, 52524, 37, 85202, 16, 183534, 42, 50555, 27, 37360, 33, 36170, 18, 381866, 53, 260675, 44, 204640, 50, 126507, 19, 425144, 54, 325990, 45, 264282, 53, 147087, 19, 404908, 54, 317436, 47, 261089, 57, 131040, 17, 160102, 31, 77434, 33, 63460, 51, 77844, 15, 225413, 49, 77432, 41, 62174, 46, 39338, 19, 409527, 62, 298999, 56, 241792, 57, 121145, 20, 474888, 62, 388827, 56, 322034, 61, 122872, 17, 463366, 56, 379929, 52, 307692, 57, 139374, 17, 180863, 33, 85988, 34, 70823, 47, 89128, 16, 198693, 43, 69120, 36, 68919, 46, 44530, 21, 373428, 58, 274747, 54, 242893, 57, 107223, 19, 441924, 61, 374510, 57, 317475, 61, 121623, 17, 430683, 56, 375150, 54, 323426, 60, 132888, 17, 262001, 37, 173208, 40, 154957, 52, 114114, 16, 197995, 42, 86655, 48, 74049, 52, 38365, 20, 394207, 58, 287470, 57, 244715, 61, 127861, 22, 415339, 63, 354718, 61, 310112, 66, 117970, 19, 432854, 58, 374717, 55, 320955, 59, 126913, 17, 275125, 36, 213344, 42, 187453, 51, 108158, 14, 177849, 38, 68176, 40, 47385, 48, 21819, 12, 395268, 57, 287581, 55, 243614, 59, 75927, 13, 372384, 56, 314841, 53, 251803, 55, 100754, 16, 377242, 52, 318425, 49, 278187, 56, 95400, 14, 261327, 35, 202465, 36, 183148, 44, 91661, 12, 178091, 44, 36380, 30, 34476, 40, 23050, 16, 291667, 48, 221542, 48, 211472, 55, 72531, 15, 362093, 53, 303634, 50, 287854, 57, 103609, 16, 341665, 54, 296806, 52, 282554, 60, 97701, 16, 279325, 38, 223090, 38, 203326, 45, 81638, 11], "version" => "2.0", "updated" => "2023-10-06T05:00:00Z", "note" => Any["<A HREF='https://stat.fi/tilasto/dokumentaatio/aku' TARGET=_blank>Tilaston dokumentaatio</A>"], "class" => "dataset", "dimension" => Dict{String, Any}("Tiedot" => Dict{String, Any}("label" => "Tiedot", "category" => Dict{String, Any}("label" => Dict{String, Any}("muuo_pros" => "Muuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet, %", "muuo_lkm" => "Muuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet, lkm", "akuo_lkm" => "Aikuiskoulutukseen osallistuneet, lkm", "tyoo_lkm" => "Työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet, lkm", "tyoo_pros" => "Työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet, %", "tyan_pros" => "Työnantajan tukemaan koulutukseen (henkilöstökoulutukseen) osallistuneet, %", "akuo_pros" => "Aikuiskoulutukseen osallistuneet, %", "tyan_lkm" => "Työnantajan tukemaan koulutukseen (henkilöstökoulutukseen) osallistuneet, lkm"), "note" => Dict{String, Any}("muuo_pros" => Any["Muuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet 18-64-vuotiaat, pl. opiskelijat ja varusmiehet.\r\nMuuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen on laskettu toisiin opintoihin, luottamustehtäviin, harrastuksiin tms. vapaa-ajan toimintoihin liittyvät opinnot sekä muut yleissivistävät opinnot. Määrittely perustui vastaajan omaan ilmoitukseen. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "muuo_lkm" => Any["Muuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet 18-64-vuotiaat, pl. opiskelijat ja varusmiehet.\r\nMuuhun kuin työhön tai ammattiin liittyvään aikuiskoulutukseen on laskettu toisiin opintoihin, luottamustehtäviin, harrastuksiin tms. vapaa-ajan toimintoihin liittyvät opinnot sekä muut yleissivistävät opinnot. Määrittely perustui vastaajan omaan ilmoitukseen. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "akuo_lkm" => Any["Aikuiskoulutukseen osallistuneet 18-64-vuotias väestö.\r\nAikuiskoulutuksella tarkoitetaan erityisesti aikuisia varten järjestettyä ja organisoitua koulutusta. Sisältää opiskelun ulkomailla pl. vuosi 1990. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "tyoo_lkm" => Any["Työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet 18-64-vuotias työvoima.\r\nTähän luetaan sellainen aikuiskoulutusorganisaatioissa järjestetty koulutus, jonka vastaaja itse koki liittyvän työhön tai ammattiin Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "tyoo_pros" => Any["Työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet 18-64-vuotias työvoima.\r\nTähän luetaan sellainen aikuiskoulutusorganisaatioissa järjestetty koulutus, jonka vastaaja itse koki liittyvän työhön tai ammattiin Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "tyan_pros" => Any["Työnantajan tukemaan koulutukseen (henkilöstökoulutukseen) osallistuneet 18-64-vuotiaat palkansaajat.\r\nHenkilöstökoulutukseksi määriteltiin työnantajan joko osittain tai kokonaan tukema työhön tai ammattiin liittyvä aikuiskoulutus. Tuki on voinut koskea joko koulutuksen kustannuksia tai siihen käytettävää aikaa. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "akuo_pros" => Any["Aikuiskoulutukseen osallistuneet 18-64-vuotias väestö.\r\nAikuiskoulutuksella tarkoitetaan erityisesti aikuisia varten järjestettyä ja organisoitua koulutusta. Sisältää opiskelun ulkomailla pl. vuosi 1990. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."], "tyan_lkm" => Any["Työnantajan tukemaan koulutukseen (henkilöstökoulutukseen) osallistuneet 18-64-vuotiaat palkansaajat.\r\nHenkilöstökoulutukseksi määriteltiin työnantajan joko osittain tai kokonaan tukema työhön tai ammattiin liittyvä aikuiskoulutus. Tuki on voinut koskea joko koulutuksen kustannuksia tai siihen käytettävää aikaa. Vuoteen 2017 asti mukaan on laskettu vain sellainen koulutus, johon on osallistuttu yhteensä vähintään kuusi tuntia."]), "unit" => Dict{String, Any}("muuo_pros" => Dict{String, Any}("base" => "%", "decimals" => 0), "muuo_lkm" => Dict{String, Any}("base" => "Lukumäärä", "decimals" => 0), "akuo_lkm" => Dict{String, Any}("base" => "Lukumäärä", "decimals" => 0), "tyoo_lkm" => Dict{String, Any}("base" => "Lukumäärä", "decimals" => 0), "tyoo_pros" => Dict{String, Any}("base" => "%", "decimals" => 0), "tyan_pros" => Dict{String, Any}("base" => "%", "decimals" => 0), "akuo_pros" => Dict{String, Any}("base" => "%", "decimals" => 0), "tyan_lkm" => Dict{String, Any}("base" => "Lukumäärä", "decimals" => 0)), "index" => Dict{String, Any}("muuo_pros" => 7, "muuo_lkm" => 6, "akuo_lkm" => 0, "tyoo_lkm" => 2, "tyoo_pros" => 3, "tyan_pros" => 5, "akuo_pros" => 1, "tyan_lkm" => 4)), "extension" => Dict{String, Any}("show" => "value", "elimination" => false)), "Ikä" => Dict{String, Any}("label" => "Ikä", "link" => Dict{String, Any}("describedby" => Any[Dict{String, Any}("extension" => Dict{String, Any}("Ikä" => "SCALE-TYPE=ordinal"))]), "category" => Dict{String, Any}("label" => Dict{String, Any}("45-54" => "45 - 54", "25-34" => "25 - 34", "55-64" => "55 - 64", "35-44" => "35 - 44", "18-24" => "18 - 24"), "index" => Dict{String, Any}("45-54" => 3, "25-34" => 1, "55-64" => 4, "35-44" => 2, "18-24" => 0)), "extension" => Dict{String, Any}("show" => "value", "elimination" => false)), "Vuosi" => Dict{String, Any}("label" => "Vuosi", "category" => Dict{String, Any}("label" => Dict{String, Any}("2022" => "2022", "1990" => "1990", "2000" => "2000", "2012" => "2012", "1995" => "1995", "2006" => "2006", "2017" => "2017"), "index" => Dict{String, Any}("2022" => 6, "1990" => 0, "2000" => 2, "2012" => 4, "1995" => 1, "2006" => 3, "2017" => 5)), "extension" => Dict{String, Any}("show" => "value", "elimination" => false))), "size" => Any[7, 5, 8], "extension" => Dict{String, Any}("px" => Dict{String, Any}("language" => "fi", "contents" => "Aikuiskoulutukseen osallistuminen (ml. työhön tai ammattiin liittyvä, henkilöstökoulutus sekä muu kuin työhön liittyvä aikuiskoulutus) ikäluokittain", "description" => "12dz -- Aikuiskoulutukseen osallistuminen (ml. työhön tai ammattiin liittyvä, henkilöstökoulutus sekä muu kuin työhön liittyvä aikuiskoulutus) ikäluokittain, 1990-2022", "aggregallowed" => true, "tableid" => "statfin_aku_pxt_12dz", "descriptiondefault" => false, "stub" => Any["Vuosi", "Ikä"], "subject-code" => "AKU", "subject-area" => "aku", "matrix" => "001_12dz_2022", "heading" => Any["Tiedot"], "decimals" => 0, "official-statistics" => true), "contact" => Any[Dict{String, Any}("raw" => "<A HREF='https://stat.fi/tilasto/aku' TARGET=_blank>Tilaston kotisivu</A>")]), "source" => "Tilastokeskus, aikuiskoulutukseen osallistuminen")

In [3]:
#Dataa on todella hankala lukea tässä muodossa. Avataan sen rakennetta vähän. Kyseessä on moniulotteinen taulukko eli tietokuutio 
#(data cube). Tässä data on järjestelty kolmen muuttujan suhteen (kolmiuloitteinen): Vuosi, ikäryhmä ja tiedot. Jokainen havainto löytyy 
#kolmiuloitteisessa avaruudessa muuttujien risteyspisteestä. Julia esittää sen dict-muotoisena.

#Koska moniulotteista dataa on hankala hahmottaa, muutetaan se dataframe-muotoon. Sitä varten on tunnettava Tilastokeskuksen PxWebin tapa
#esittää data. 

#TEHTÄVÄ Selvitä tekoälyn avulla miten data PxWebissä säilötään. Kun saat sen selville, niin alla oleva koodikin avautuu paremmin. Tehtävää
#ei tarvitse palauttaa. 


# Haetaan jokaisen dimension (ulottuvuus) kohdalla arvojen oikea järjestys. Jotta voidaan tehdä dataframe oikein, pitää tietää tarkalleen
#missä järjestyksessä vuodet, ikäryhmät ja tiedot esiintyvät tietokuutiossa. 

iv = data["dimension"]["Vuosi"]["category"]["index"]   #sanakirja, jota käytetään vuodet-dimension järjestämiseen. 
ii = data["dimension"]["Ikä"]["category"]["index"] #sanakirja, jota käytetään iat-dimension järjestämiseen
it = data["dimension"]["Tiedot"]["category"]["index"] #sanakirja, jota käytetään tiedot-dimension järjestämiseen. 

# Järjestetään kaikki dimensiot indeksin mukaan. Keys hakee kaikki indeksit ja sort järjestää ne listaksi ehdon mukaan. 
vuodet = sort(collect(keys(iv)); by = k -> iv[k])
iat  = sort(collect(keys(ii)); by = k -> ii[k])
tiedot  = sort(collect(keys(it)); by = k -> it[k])

arvot = data["value"]  # Arvot yhdessä vektorissa

# Luodaan kaikki datan yhdistelmät järjestyksessä: Vuosi -> Ikä -> Tiedot (Tiedot vaihtuu nopeimmin)
yhdistelmat = [(v,i,t) for v in vuodet for i in iat for t in tiedot]

# 4) Rakenna DataFrame
df = DataFrame(Vuosi=[c[1] for c in yhdistelmat],
               Ikä  =[c[2] for c in yhdistelmat],
               Tiedot=[c[3] for c in yhdistelmat],
               Arvo = arvot)



df

280×4 DataFrame
 Row │ Vuosi   Ikä     Tiedot     Arvo
     │ String  String  String     Any
─────┼───────────────────────────────────
   1 │ 1990    18-24   akuo_lkm   204552
   2 │ 1990    18-24   akuo_pros  43
   3 │ 1990    18-24   tyoo_lkm   97831
   4 │ 1990    18-24   tyoo_pros  36
   5 │ 1990    18-24   tyan_lkm   82445
   6 │ 1990    18-24   tyan_pros  34
   7 │ 1990    18-24   muuo_lkm   49301
   8 │ 1990    18-24   muuo_pros  17
   9 │ 1990    25-34   akuo_lkm   416027
  10 │ 1990    25-34   akuo_pros  55
  11 │ 1990    25-34   tyoo_lkm   329104
  ⋮  │   ⋮       ⋮         ⋮        ⋮
 271 │ 2022    45-54   muuo_lkm   97701
 272 │ 2022    45-54   muuo_pros  16
 273 │ 2022    55-64   akuo_lkm   279325
 274 │ 2022    55-64   akuo_pros  38
 275 │ 2022    55-64   tyoo_lkm   223090
 276 │ 2022    55-64   tyoo_pros  38
 277 │ 2022    55-64   tyan_lkm   203326
 278 │ 2022    55-64   tyan_pros  45
 279 │ 2022    55-64   muuo_lkm   81638
 280 │ 2022    55-64   muuo_pros  11
                         259 rows omitted

In [4]:
#Huomataan, että Tiedot-sarakkeessa ei ole muuttujalle selkeää suomenkielistä selitettä. Haetaan koodeja 
#vastaavat selitteet. 

labels = data["dimension"]["Tiedot"]["category"]["label"]
df.Tiedot = [get(labels, k, k) for k in df.Tiedot]

df

280×4 DataFrame
 Row │ Vuosi   Ikä     Tiedot                             Arvo
     │ String  String  String                             Any
─────┼───────────────────────────────────────────────────────────
   1 │ 1990    18-24   Aikuiskoulutukseen osallistuneet…  204552
   2 │ 1990    18-24   Aikuiskoulutukseen osallistuneet…  43
   3 │ 1990    18-24   Työhön tai ammattiin liittyvään …  97831
   4 │ 1990    18-24   Työhön tai ammattiin liittyvään …  36
   5 │ 1990    18-24   Työnantajan tukemaan koulutuksee…  82445
   6 │ 1990    18-24   Työnantajan tukemaan koulutuksee…  34
   7 │ 1990    18-24   Muuhun kuin työhön tai ammattiin…  49301
   8 │ 1990    18-24   Muuhun kuin työhön tai ammattiin…  17
   9 │ 1990    25-34   Aikuiskoulutukseen osallistuneet…  416027
  10 │ 1990    25-34   Aikuiskoulutukseen osallistuneet…  55
  11 │ 1990    25-34   Työhön tai ammattiin liittyvään …  329104
  ⋮  │   ⋮       ⋮                     ⋮                    ⋮
 271 │ 2022    45-54   Muuhun kuin työhön tai ammattiin…  97701
 272 │ 2022    45-54   Muuhun kuin työhön tai ammattiin…  16
 273 │ 2022    55-64   Aikuiskoulutukseen osallistuneet…  279325
 274 │ 2022    55-64   Aikuiskoulutukseen osallistuneet…  38
 275 │ 2022    55-64   Työhön tai ammattiin liittyvään …  223090
 276 │ 2022    55-64   Työhön tai ammattiin liittyvään …  38
 277 │ 2022    55-64   Työnantajan tukemaan koulutuksee…  203326
 278 │ 2022    55-64   Työnantajan tukemaan koulutuksee…  45
 279 │ 2022    55-64   Muuhun kuin työhön tai ammattiin…  81638
 280 │ 2022    55-64   Muuhun kuin työhön tai ammattiin…  11
                                                 259 rows omitted

In [5]:
#Nyt huomataan, että dataframe on ns. pitkässä muodossa (long). Eli jokainen rivi on yksi havainto. Toisin
#sanoen kaikista mahdollisista muuttujayhdistelmistä on tehty oma rivi. Mittarit puolestaan ovat yhdessä sarakkeessa.

#Lyhyessä dataframessa (short) puolestaan jokainen rivi vastaa yhtä havaintoyksikköä ja eri mittarit ovat eri sarakkeissa. 
#Muunnetaan dataframe lyhyeen muotoon, eli pivotoidaan se. 

#Muistisääntö: Pitkä data on helppo analysoida, lyhyt data on helppo lukea. 

df = unstack(df, [:Vuosi, :Ikä], :Tiedot, :Arvo)

35×10 DataFrame
 Row │ Vuosi   Ikä     Aikuiskoulutukseen osallistuneet, lkm  Aikuiskoulutukse ⋯
     │ String  String  Any                                    Any              ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 1990    18-24   204552                                 43               ⋯
   2 │ 1990    25-34   416027                                 55
   3 │ 1990    35-44   481846                                 57
   4 │ 1990    45-54   291068                                 48
   5 │ 1990    55-64   132963                                 25               ⋯
   6 │ 1995    18-24   183534                                 42
   7 │ 1995    25-34   381866                                 53
   8 │ 1995    35-44   425144                                 54
   9 │ 1995    45-54   404908                                 54               ⋯
  10 │ 1995    55-64   160102                                 31
  11 │ 2000    18-24   225413                                 49
  ⋮  │   ⋮       ⋮                       ⋮                                     ⋱
  26 │ 2017    18-24   177849                                 38
  27 │ 2017    25-34   395268                                 57               ⋯
  28 │ 2017    35-44   372384                                 56
  29 │ 2017    45-54   377242                                 52
  30 │ 2017    55-64   261327                                 35
  31 │ 2022    18-24   178091                                 44               ⋯
  32 │ 2022    25-34   291667                                 48
  33 │ 2022    35-44   362093                                 53
  34 │ 2022    45-54   341665                                 54
  35 │ 2022    55-64   279325                                 38               ⋯
                                                   7 columns and 14 rows omitted

In [6]:
#Muunnetaan takaisin pitkään muotoon. 

df = stack(df, Not([:Vuosi, :Ikä]), variable_name=:Tiedot, value_name=:Arvo)

280×4 DataFrame
 Row │ Vuosi   Ikä     Tiedot                             Arvo
     │ String  String  String                             Any
─────┼───────────────────────────────────────────────────────────
   1 │ 1990    18-24   Aikuiskoulutukseen osallistuneet…  204552
   2 │ 1990    25-34   Aikuiskoulutukseen osallistuneet…  416027
   3 │ 1990    35-44   Aikuiskoulutukseen osallistuneet…  481846
   4 │ 1990    45-54   Aikuiskoulutukseen osallistuneet…  291068
   5 │ 1990    55-64   Aikuiskoulutukseen osallistuneet…  132963
   6 │ 1995    18-24   Aikuiskoulutukseen osallistuneet…  183534
   7 │ 1995    25-34   Aikuiskoulutukseen osallistuneet…  381866
   8 │ 1995    35-44   Aikuiskoulutukseen osallistuneet…  425144
   9 │ 1995    45-54   Aikuiskoulutukseen osallistuneet…  404908
  10 │ 1995    55-64   Aikuiskoulutukseen osallistuneet…  160102
  11 │ 2000    18-24   Aikuiskoulutukseen osallistuneet…  225413
  ⋮  │   ⋮       ⋮                     ⋮                    ⋮
 271 │ 2017    18-24   Muuhun kuin työhön tai ammattiin…  12
 272 │ 2017    25-34   Muuhun kuin työhön tai ammattiin…  13
 273 │ 2017    35-44   Muuhun kuin työhön tai ammattiin…  16
 274 │ 2017    45-54   Muuhun kuin työhön tai ammattiin…  14
 275 │ 2017    55-64   Muuhun kuin työhön tai ammattiin…  12
 276 │ 2022    18-24   Muuhun kuin työhön tai ammattiin…  16
 277 │ 2022    25-34   Muuhun kuin työhön tai ammattiin…  15
 278 │ 2022    35-44   Muuhun kuin työhön tai ammattiin…  16
 279 │ 2022    45-54   Muuhun kuin työhön tai ammattiin…  16
 280 │ 2022    55-64   Muuhun kuin työhön tai ammattiin…  11
                                                 259 rows omitted

In [7]:
#Analysoidaan dataa seuraavaksi tekemällä Pivot-taulukko, jossa osa datasta on suodatettu pois. 

using DataFrames

# Valitaan vuosi ja kolme muuttujaa. 
vuosi = "2022"
muuttujat = [
    "Aikuiskoulutukseen osallistuneet, %",
    "Työhön tai ammattiin liittyvään aikuiskoulutukseen osallistuneet, %",
    "Aikuiskoulutukseen osallistuneet, lkm"
]

#Suodatetaan vuoden ja valitun kolmen muuttujan mukaan
df_suod = filter(row -> row.Vuosi == vuosi && row.Tiedot in muuttujat, df)

#Pivotoitodaan suodatettu dataframe ja esitetään se lyhyessä muodossa: rivit = Ikä, sarakkeet = Tiedot, solut = Arvo
pivot  = unstack(df_suod, :Ikä, :Tiedot, :Arvo)   

pivot

#Tehtävä: Rivisummat ovat reilusti yli 100 %. Mieti, mistä tämä johtuu.

5×4 DataFrame
 Row │ Ikä     Aikuiskoulutukseen osallistuneet, lkm  Aikuiskoulutukseen osall ⋯
     │ String  Any                                    Any                      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 18-24   178091                                 44                       ⋯
   2 │ 25-34   291667                                 48
   3 │ 35-44   362093                                 53
   4 │ 45-54   341665                                 54
   5 │ 55-64   279325                                 38                       ⋯
                                                               2 columns omitted

In [8]:
#Nyt kaikkien sarakkeiden tietotyyppi on Any. Muutetaan yksi niistä intiksi.

df_suod[!, "Aikuiskoulutukseen osallistuneet, lkm"] = Int64.(df[!, "Aikuiskoulutukseen osallistuneet, lkm"])

LoadError: ArgumentError: column name :Aikuiskoulutukseen osallistuneet, lkm not found in the data frame

In [9]:
#Saadaan virheilmoitus. Tutkitaan minkä nimisiä sarakkeita DataFramessa on. 
names(df_suod)

4-element Vector{String}:
 "Vuosi"
 "Ikä"
 "Tiedot"
 "Arvo"

In [10]:
#Aikaisemmin tekemämme muutokset ovat vaikuttaneet siis ainoastaan esittämistapaan. Dataframen sarakkeiden nimet 
#Eivät ole muuttuneet. Tehdään uusi dataframe, johon suodatetaan pelkästään Aikuiskoulutuksen osallistuneiden lukumäärän
#sisältävät arvot. 

df_aikkoul = subset(df_suod, :Tiedot => ByRow(==("Aikuiskoulutukseen osallistuneet, lkm")))

5×4 DataFrame
 Row │ Vuosi   Ikä     Tiedot                             Arvo
     │ String  String  String                             Any
─────┼───────────────────────────────────────────────────────────
   1 │ 2022    18-24   Aikuiskoulutukseen osallistuneet…  178091
   2 │ 2022    25-34   Aikuiskoulutukseen osallistuneet…  291667
   3 │ 2022    35-44   Aikuiskoulutukseen osallistuneet…  362093
   4 │ 2022    45-54   Aikuiskoulutukseen osallistuneet…  341665
   5 │ 2022    55-64   Aikuiskoulutukseen osallistuneet…  279325

In [11]:
#Muutetaan nyt sarakkeen Arvo tyypiksi int. Otetaan huomioon mahdollisuus, että sarakkeessa olisi puuttuvia
#arvoja (missing).

df_aikkoul[!, "Arvo"] = convert(Vector{Union{Missing, Int64}},
    [x === missing ? missing : Int64(x) for x in df_aikkoul[!, "Arvo"]]
)

df_aikkoul

5×4 DataFrame
 Row │ Vuosi   Ikä     Tiedot                             Arvo
     │ String  String  String                             Int64?
─────┼───────────────────────────────────────────────────────────
   1 │ 2022    18-24   Aikuiskoulutukseen osallistuneet…  178091
   2 │ 2022    25-34   Aikuiskoulutukseen osallistuneet…  291667
   3 │ 2022    35-44   Aikuiskoulutukseen osallistuneet…  362093
   4 │ 2022    45-54   Aikuiskoulutukseen osallistuneet…  341665
   5 │ 2022    55-64   Aikuiskoulutukseen osallistuneet…  279325

In [12]:
#Lasketaan lopuksi montako henkilöä osallistui aikuiskoulutukseen vuonna 2022. Laskeminen olisi onnistunut myös
#ilman tyyppimuunnosta, koska kaikki sarakkeen arvot ovat kokonaislukuja. Jos näin ei olisi, niin laskeminen antaisi
#virheilmoituksen. Myös desimaaliluvut kelpaisiva

sum(df_aikkoul.Arvo)

1452841